/BooksChaptersandVerses.txt
/CarlPoppa.wav
/README.md
/bible.sql
/cred.py
/cred2.py
creds/
/get-pip.py
/test.py
/test.sql
/testaudio.py
virtual_env/
/__pycache__/*
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/